* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
}
.clear {
  clear: both;
}
/************ 蛇体的样式 ***************/
.snake-head {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: 5px;
  border: 1px dotted #666;
  background-color: #666;
}
.snake-body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: 5px;
  border: 1px dotted #aaa;
  background-color: #aaa;
}
.snake-food {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: 5px;
  border: 1px dotted #999;
  background-color: #999;
}
/************ end-蛇体的样式 ***************/
/************ 背景的样式 ***************/
.game-box {
  position: relative;
  display: inline-block;
  margin: 15px auto;
  border: 5px solid #555;
}
.game-box .game-box-div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  position: relative;
  border: 1px dotted #eee;
}
/************ end-背景的样式 ***************/
/************ 结束画面的样式 ***************/
.game-over,
.game-start {
  display: flex;
  justify-content: center;
  /*水平居中*/
  align-items: center;
  /*垂直居中*/
  flex-direction: column;
  /*垂直排列*/
  position: absolute;
  border: 2px solid rgba(153, 153, 153, 0.5);
  background-color: rgba(170, 170, 170, 0.5);
  box-shadow: 3px 3px 3px rgba(170, 170, 170, 0.75);
}
.game-over h1,
.game-start h1 {
  margin-bottom: 15px;
  font-size: 45px;
  color: #444;
}
.game-over p,
.game-start p {
  font-size: 20px;
}
.game-over a,
.game-start a {
  margin-top: 15px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: rgba(120, 120, 120, 0.5);
  text-decoration: none;
  font-size: 25px;
  color: #444;
}
.game-over a:hover,
.game-start a:hover {
  background-color: rgba(90, 90, 90, 0.35);
  color: #333;
}
/************ end-结束画面的样式 ***************/
