html, body {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: #1890ff;
  color: #fff;
  padding: 5px 10px;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #40a9ff;
}
button:active {
  background-color: #096dd9;
}
button + button {
  margin-left: 10px;
}

.control-box {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-box + .control-box {
  margin-top: 0;
}
