<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Performance Monitor</title>
  <link rel="stylesheet" href="../common/style/element.css">
  <link rel="stylesheet" href="../common/codemirror/codemirror.css">
  <link rel="stylesheet" href="../common/codemirror/addon/hint/show-hint.css">
  <link rel="stylesheet" href="../common/codemirror/theme/darcula.css">
  <style>
    :root {
      --bg-color: #262626;
      --code-color-normal: #fff;
    }

    .container {
      display: flex;
      justify-content: center;
    }

    .column {
      display: flex;
      flex-direction: column;
      width: 800px;
      height: 640px;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="column">
      <h4 class="flex-center-h flex-main-between">
        <span>执行代码：只能运行单个函数</span>
        <button id="btn-run">Run</button>
      </h4>
      <code id="codes" class="codes" contenteditable="true" style="display: none;">
        <div>/*</div>
        <div> * 入口函数</div>
        <div> */</div>
        <div>const main = (nums, k) => {</div>
        <div>  k = k % nums.length;</div>
        <div>  nums.unshift(...nums.splice(nums.length - k, k));</div>
        <div>  return nums;</div>
        <div>}</div>
        <div><br></div>
      </code>
      <div id="editor" class="editor"></div>
    </div>
  </div>
  
  <script src="../common/codemirror/codemirror.js"></script>
  <script src="../common/codemirror/mode/javascript.js"></script>
  <script src="../common/codemirror/addon/hint/show-hint.js"></script>
  <script src="../common/codemirror/addon/hint/javascript-hint.js"></script>
  <script src="../common/codemirror/addon/edit/closebrackets.js"></script>
  <script type="module">
    import PerformanceMonitor from './PerformanceMonitor.js'
    const pm = new PerformanceMonitor();

    // 编辑器初始化
    const editor = CodeMirror(document.getElementById('editor'), {
      value: '// entry\nconst main = (nums, k) => {\n  const arr = [];\n  arr.push(666);\n  return;\n};',
      mode: 'javascript',
      tabSize: 2,
      lineNumbers: true,
      theme: 'darcula',
      autoCloseBrackets: true,
    });
    window.editor = editor;
    console.log(editor);

    // 测试用例
    const cases = [
      [[1,2,3,4,5,6,7,8], 18],
      [[5,5,7,8,2], 23],
      [[2,3,5,7,8], 4]
    ]; 

    document.getElementById('btn-run').onclick = ev => {
      pm.runCode(editor.getValue(), cases);
    };
    function mergeCodeString(ele) {
      return Array.from(ele.querySelectorAll('div')).map(line => line.innerText).join('\n');
    }
  </script>
</body>

</html>