<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Loading Effects</title>
  <style>
    .container {
      padding: 0 50px;
      min-width: 600px;
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      justify-content: center;
    }
    iframe {
      width: 300px;
      height: 300px;
    }
  </style>
</head>

<body>
  <div class="container">
    <iframe src="./loading-rainbow.html" frameborder="0"></iframe>
    <iframe src="./loading-dots-circle.html" frameborder="0"></iframe>
    <iframe src="./loading-dots-jump.html" frameborder="0"></iframe>
    <iframe src="./loading-four-dots.html" frameborder="0"></iframe>
    <iframe src="./loading-throwing.html" frameborder="0"></iframe>
    <iframe src="./loading-door.html" frameborder="0"></iframe>
    <iframe src="./loading-cube-folding.html" frameborder="0"></iframe>
    <iframe src="./loading-sphere-eyeball.html" frameborder="0"></iframe>
    <iframe src="./loading-sphere-bubbles.html" frameborder="0"></iframe>
    <iframe src="./loading-wave.html" frameborder="0"></iframe>
    <iframe src="./loading-fragment-carousel.html" frameborder="0"></iframe>
    <iframe src="./loading-squares-spinning.html" frameborder="0"></iframe>
    <iframe src="./loading-turning-book.html" frameborder="0"></iframe>
    <iframe src="./loading-webpack-logo.html" frameborder="0"></iframe>
    <iframe src="./loading-heartbeat.html" frameborder="0"></iframe>
    <iframe src="./loading-text.html" frameborder="0"></iframe>
  </div>
</body>

</html>