<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Emojis</title>
	<style>
		.box {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		.container {
			margin-top: 20px;

			width: fit-content;
		}
	</style>
</head>

<body>
	<div class="box">
		<div class="container">
			<input id="input" type="number" step="1" placeholder="输入Emoji字符">
		</div>

		<div class="container">
		</div>
	</div>

	<script>
		const input
	</script>
</body>

</html>