* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
}
#app {
  text-align: center;
}
.clear {
  clear: both;
}
/************ 背景的样式 ***************/
.game-box {
  position: relative;
  display: inline-block;
  margin: 15px auto;
  border: 5px solid #555;
  vertical-align: top;
}
.game-box-div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  position: relative;
  border: 1px dotted #eee;
}
.block {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -1px;
  left: -1px;
  border: 1px solid #777;
  background-color: #aaa;
}
/************ end-背景的样式 ***************/
/************ 侧边栏的样式 ***************/
.sidebar {
  position: relative;
  display: inline-block;
  margin: 15px auto;
  width: 150px;
  height: 250px;
  border: 5px solid #555;
  border-left: 0;
  vertical-align: top;
}
.preview {
  position: absolute;
  left: 0;
  bottom: 0;
}
.scores {
  display: flex;
  flex-direction: column;
  height: 100px;
}
.scores p {
  padding: 0 15px;
  height: 50px;
  border-bottom: 1px dotted #666;
  line-height: 50px;
  text-align: left;
  font-family: Courier;
  font-weight: bold;
}
.scores p span {
  float: right;
}
/************ end-侧边栏的样式 ***************/
/************ 结束画面的样式 ***************/
.game-over,
.game-start {
  display: flex;
  justify-content: center;
  /*水平居中*/
  align-items: center;
  /*垂直居中*/
  flex-direction: column;
  /*垂直排列*/
  position: absolute;
  border: 2px solid rgba(153, 153, 153, 0.5);
  background-color: rgba(170, 170, 170, 0.5);
  box-shadow: 3px 3px 3px rgba(170, 170, 170, 0.75);
}
.game-over h1,
.game-start h1 {
  margin-bottom: 15px;
  font-size: 45px;
  color: #444;
}
.game-over p,
.game-start p {
  font-size: 20px;
}
.game-over a,
.game-start a {
  margin-top: 15px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: rgba(120, 120, 120, 0.5);
  text-decoration: none;
  font-size: 25px;
  color: #444;
}
.game-over a:hover,
.game-start a:hover {
  background-color: rgba(90, 90, 90, 0.35);
  color: #333;
}
/************ end-结束画面的样式 ***************/
