* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
}
.clear {
  clear: both;
}
/************ 分数栏的样式 ***************/
.game-score {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 15px auto 0px;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.game-score .time {
  float: left;
  width: 80px;
  text-align: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.game-score .time span {
  float: right;
}
.game-score .mine {
  float: right;
  width: 80px;
  text-align: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.game-score .mine span {
  float: right;
}
.game-score button {
  width: 60px;
  height: 30px;
  border-style: none;
  border-radius: 5px;
  box-shadow: 3px 3px 2px #5a5a5a;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.game-score button:hover {
  box-shadow: 2px 2px 2px #5a5a5a;
}
.game-score button:active {
  box-shadow: 1px 1px 1px #5a5a5a;
}
/************ end-分数栏的样式 ***************/
/************ 背景的样式 ***************/
.game-box {
  position: relative;
  display: inline-block;
  margin: 10px auto;
  border: 5px solid #555;
  /************ end-背景的样式 ***************/
  /************ 地雷的样式 ***************/
}
.game-box .game-box-div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  border: 1px dotted #c2c1c1;
  background-color: #e2e2e2;
}
.game-box .mine-div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: -1px;
  left: -1px;
  border: 1px solid #777;
  background-color: #aaa;
}
.game-box .mine-div:hover {
  background-color: #999;
}
.game-box .mine-div:active {
  background-color: #888;
}
.game-box .mine-danger,
.game-box .mine-danger:hover {
  background-color: red;
}
.game-box .mine-safe,
.game-box .mine-safe:hover {
  background-color: green;
}
/************ end-地雷的样式 ***************/
/************ 结束画面的样式 ***************/
.game-over,
.game-start {
  display: flex;
  justify-content: center;
  /*水平居中*/
  align-items: center;
  /*垂直居中*/
  flex-direction: column;
  /*垂直排列*/
  position: absolute;
  border: 2px solid #353535;
  background-color: #424242;
  box-shadow: 3px 3px 3px rgba(170, 170, 170, 0.9);
}
.game-over h1,
.game-start h1 {
  margin-bottom: 15px;
  font-size: 45px;
  color: #dfdfdf;
}
.game-over p,
.game-start p {
  font-size: 20px;
  color: #dfdfdf;
}
.game-over a,
.game-start a {
  margin-top: 15px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: rgba(120, 120, 120, 0.8);
  text-decoration: none;
  font-size: 25px;
  color: #dfdfdf;
}
.game-over a:hover,
.game-start a:hover {
  background-color: rgba(158, 158, 158, 0.35);
  color: #ffffff;
}
/************ end-结束画面的样式 ***************/
