* {
  box-sizing: border-box;
}

button {
  background-color: #1d39c4;
  color: #fff;
  border: none;
  padding: 5px 8px;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  box-shadow: 3px 3px 5px #999;
}

button:hover {
  background-color: #10239e;
}

button:active {
  box-shadow: 1px 1px 5px #999;
}

input:not(.native) {
  padding: 5px 8px;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid #10239e;
}

.none {
  display: none !important;
  opacity: 0;
}

.fade-show {
  opacity: 1 !important;
}

.fade-hidden {
  opacity: 0 !important;
}

.flex-center-h {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-v {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-main-between {
  justify-content: space-between;
}

.flex-main-end {
  justify-content: flex-end;
}