* {
  box-sizing: border-box;
}

list-item {
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-bottom: 15px;
  list-style: none;
  background-color: #fff;
  border-radius: 3px;
  transition: all 200ms;
  box-shadow: none;
  text-decoration: none;
  overflow: hidden;
}

.wrapper:visited {
  color: currentColor;
}

.wrapper:hover {
  box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.8);
}

.title {
  position: relative;
  margin-top: 0;
  padding-bottom: 10px;
}
.title .text {
  padding-right: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.title .text>span {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

/* .title::before {
  display: block;
  content: "";
  position: absolute;
  left: -4em;
  bottom: 0;
  width: 2em;
  height: 2px;
  font-size: 1.5em;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  animation-iteration-count: infinite;
  animation-duration: 1.1s;
  background-image: linear-gradient(to left, #000 0%, rgba(0, 0, 0, 0) 100%);
}

.wrapper:hover .title::after,
.wrapper:hover .title::before {
  animation-name: hint;
} */

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content .snap {
  position: relative;
  z-index: 0;
  flex: 1;
  flex-basis: 0;
  border-radius: 3px;
  overflow: hidden;
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .snap .loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .snap .loading .icon {
  width: 60px;
  height: 60px;
  background-image: url('../img/loading.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation: rotate 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.content .snap video.hidden,
.content .snap img.hidden {
  /* visibility: hidden; */
  display: none;
}

.content .snap img,
.content .snap video {
  max-width: 100%;
  max-height: 100%;
}

.content .desc {
  margin-top: 0.5em;
  font-size: 0.875em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* @supports (display: -webkit-box) and (-webkit-line-clamp: 2) and (-webkit-box-orient: vertical) {
  .content .desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    height: 2.4em;
    line-height: 1.2em;
  }
} */
.none {
  display: none !important;
}

/* loading旋转 */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
@keyframes hint {
  from {
    left: -4em;
  }
  to {
    left: calc(100% + 4em);
  }
}
