html,
body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  /* for test */
  background-color: #000;
}

.layout {
  background-color: #fff;
}

@media (max-aspect-ratio: 1920/1080) {
  .layout {
    width: 100vw;
    height: 56.25vw;
  }
}

@media (min-aspect-ratio: 1920/1080) {
  .layout {
    width: 177.78vh;
    height: 100vh;
  }
}